
li {
    list-style-type: none; 
   }

   body{
     margin-left: auto;
     margin-right: auto;
     width: 1600px; 
   }




/*header*/
.upper{
    width: auto;
    height: 100px;
    padding-bottom: 13px; 
}


.upper_list_job{
  padding-left: 20px;
  padding-top: 5px;
}

.head_house{
  margin-top: -40px;
}


.upper_list{
display: inline-block;
font-family: 'Roboto';
font-style: normal;
padding-left: 160px;
}  
 
.color-list{

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;

}


.upper_lists{
   
    color: rgb(0, 0, 0);
    text-decoration:none;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: left;
}

.upper_lists:hover{
  color: rgb(10, 156, 253);
}

.upper_list::after{
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  background-color: rgb(3, 0, 197);
  border-radius: 10px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
}

.upper_list:hover::after{
  transform: scaleX(1);
}



/*main*/
/**/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, Arial, Helvetica, sans-serif;
}

.area_big{
  position: relative;
}
.area {
  position: absolute;
  left: 10%;
  margin-top: -15%;
  text-align: center;
  font-size: 6.5em;
  color: rgba(28, 43, 128, 0.253);
  letter-spacing: -7px;
  font-weight: 300;
  text-transform: uppercase;
  animation: blur 2s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}

@keyframes blur {
  from {
    text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;
  }
}



/**/

 .basis{
     background-color: rgba(255, 255, 255, 0.863);
     width:auto; 
     height:600px; 
     position: relative;
}


 .basis_mein{
    position: absolute;
    color:rgba(17, 3, 3, 0.568);
    text-align: center;
    width: auto;
    height: 150px;
    left: 270px;
    top: 200px;
    border-radius: 14px;
    background:linear-gradient(to right, rgba(206, 19, 122, 0.192), rgba(132, 107, 241, 0.226)) ;
    -webkit-box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
    -moz-box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
    box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
 }

 
.basis_main_size{
  font-size: 60px;
  color: rgb(255, 251, 251)
  
}

 .basis_job{
  position: absolute;
  width: 300px;
  height: 110px;
  left:40%;
  top:25%;
  border-radius: 14px;
  background:linear-gradient(to right, rgba(206, 19, 122, 0.068), rgba(132, 107, 241, 0.226)) ;
  -webkit-box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
  -moz-box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
  box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
 }
 

.basis_job_col{
color: rgb(244, 244, 247);
font-size: 30px;
font-weight: bold;
text-align: center;
font-family: 'Roboto';
margin: 0px;

}

/* formalnosci*/

.formalities{
  margin-top: 100px;
  margin-left: 750px;
  width: 600px;
}

 .basic-properties{
   position: relative; 
   width: auto;
 }

 .main-properties-part{
  position: absolute;
  width: auto;
  height: 350px;
  top: -440px;
  left: 55px;
 }

 .main-properties-name{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 30px;

 }

.main-properties-middle{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 25px;
  font-size: 20px;
}

.beginning_cont{
  content: "";
  width:455px;
  height: 4px;
  background-color: rgb(71, 51, 255);
  margin-left: 55px;
  margin-top: 125px;
  margin-bottom: -55px;
}


/* podsumowanie*/

.basis_men{
  width: auto;
  height: 400px;
  background: rgba(245, 244, 250, 1);
  padding-top: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
}

 .basis_min_tu{
  
  text-align: center;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }

.basis_size{
  float: left;
  margin: 0px 45px 45px 120px;
}
 

.basis_min_tfree{
 width: 300px;
 height: 100px;
 
 }

 .basis_max_cont{ 
   font-size: 35px;
   color: #507922;
   font-weight: bold;
   padding-left: 52px;
 }

 .basis_max_info{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;
 }
 
 .basis_max_end{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  
 }


/*pracownicy*/

.to_find{
  width: auto;
  height: 800px;
  background: rgba(245, 244, 250, 1); 
}

.to_find_bos{
  padding-top: 80px;
  text-align: center;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.to_find_max{
  padding-top: 25px;
  padding-left: 25px;
  
}

.conditions{
width: auto;
height: 700px;
position: relative;
left: 500px;

}

.conditions_bos{
  position: absolute;
  top: 2370px;
  left: 1100px;
}


.сonditions_cont{
  position: absolute;
  content: "";
  width: 5px;
  height: 445px;
  background-color: rgb(71, 51, 255);
  left: 1000px;
  top: 2105px;
}

.conditions_min{
width:400px;
position: absolute;
float: left;
top:-250px;
left: -45px;
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conditions_min_tu{
  width:400px;
  position: absolute;
  top: -100px;
  left: -45px;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conditions_min_free{
  width: 400px;
  position: absolute;
  top: 45px;
  left: -45px;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Robimy*/

.basis_container{
  width: auto;
  height: 1000px;
  background: rgba(245, 244, 250, 1);
  margin-bottom: 55px;
}


.row_basis{
  padding-top: 80px;
  text-align: center;
  font-size: 65px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container_row{
  align-content: center;
  float: left;
  margin: auto ;
}


.row_link{
  margin: 50px 150px 50px;
  width: 150px;
  height: 150px;
  border-radius: 60%;
  background:linear-gradient(to right, rgb(206, 19, 122), rgb(132, 107, 241)) ;
}


.row_linkcol{
  width: 100px;
  height: 100px;
  margin-left: 24px;
  margin-top: 22px;
  fill: white;
  }
  
  .row_linkcol:hover{
    fill: rgb(7, 7, 7);
  }


.container_row_big{
  margin: 30px;
  padding: 50px 100px 50px ;
  font-size: 30px;
  
}

.container_row_min{
  margin-left: 65px;
  margin-right: 55px;
}

.row_min_send{
  text-align: center;
  width: 300px;
  height: 80px;
  padding: 10px 80px 0px ;
  border-radius: 5%;
  font-size: 20px;
  transition-duration: 1s;
  font-weight: bold;
}



.row_min_send:hover{
  background-color: white;
  transform: translateX(30px);
  background:linear-gradient(to right, rgb(206, 19, 122), rgb(132, 107, 241)) ;
  color: white;
  font-size: 20px;
  font-weight: bold;
}









 
/*command*/


 .command_text{
  padding-top: 30px;
  padding-bottom: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
 }


.command_photo{
   width: auto;
   height: 800px;
   background: rgba(245, 244, 250, 1);
   padding-top: 5px;
   padding-left: 85px;
   margin-top: 80px;
}


 .Photo_one{
   width: 250px;
   height: 450px;
   float: left;
   padding-top: 95px;
   padding: 25px;
   margin: 25px;
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
   box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
   box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

 }


 .Photo_one_size{

 }



 .photo_one_name{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 19px;
  text-align: center;
  margin-left: -25px;
 }

 .photo_one_bos{
  font-family: 'Roboto';
  padding-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #757575;
  text-align: center;
  margin-left: -25px;
 }


.social-item{
width:30px;
height: 40px;
background-color: rgba(255, 254, 254, 0.356);
border-radius: 60%;
padding-right: 10px;
margin-left: -20px;
margin-right: 10px;
float: left;
justify-content: center;
}

.social-item:hover{
  background:linear-gradient(to right, rgb(206, 19, 122), rgb(132, 107, 241)) ;
}

.sociak-link{
width:100%;
height:100%;
display: flex;

}

.social-item + .social-item{
  margin-left: 5px;
}

.social-aicon{
 fill: rgba(0, 0, 0, 0.63);
 margin-left: 5px;
 margin-top: 5px;
}

.social-aicon:hover{
  fill: white;
}






 /*footer*/

 .size-foot{
  width: auto;
  height: 290px;
  background: rgba(47, 48, 58, 1);
  margin-top: 75px;
  
 }
 .basement-hat{
  padding-top: 10px;
}

 .sheet{
  color: antiquewhite;
 }

.sheet_hat{
 padding-top: 5px;
 color: white;
 font-size: 20px;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 text-decoration:none;
}


.basement-end{
  margin-top: -185px;
  margin-left: 290px;
}


.basement-end-hat{
  color: white;
  margin-left: 150px;
  font-size: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
}


.middle-end{
  
  margin-top: -59px;
  margin-left: 990px;
}


  .form-lab{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    transition: 250ms linear;
    margin-top: 7px;
    font-weight: bold;
    font-size: 20px;
  
}

.form-inp{
  width: 300px;
  height: 26px;
  margin-top: 10px;
  font: inherit;
  border: radius 5px;
  }


  .but_inp{
    width: 110px;
    height: 34px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    border-radius: 5px;

  }
  
.but_inp:hover{
  background:linear-gradient(to right, rgb(206, 19, 122), rgb(132, 107, 241)) ;
}

.end{
    content: "";
    width:205px;
    height:3px;
    background-color: rgb(246, 246, 248);
    margin-left: 575px;
    margin-top: 15px;
    margin-bottom: 15px;
}






 /*forma*/

 .backdrop{
   width: 115vw;
   height: 180vh;
   background-color: rgba(121, 121, 129, 0.788);
   position: fixed;
   top: 0;
   left: 0;
 }

.modal{
 width: 550px;
 min-height: 600px;
 background-color: rgba(147, 148, 170, 0.37);
 border-radius: 5px;
 box-shadow: 6px 5px 5px 6px rgb(255, 255, 255);
 box-shadow: 8px 5px 5px 8px rgb(250, 250, 250);
 box-shadow: -1px 5px 5px 11px rgb(252, 247, 247);
 position: absolute;
 top: 60%;
 left: 50%;
 transform: translate(-80%, -130%);

}

.modal-close{
  position: absolute;
  top: 10px;
  right: 10px;
 border-radius: 15px;
  width: 28px;
  height: 28px;
  background-color: white;
}


.close-icon{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
  fill: black;
}


 .form-field{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  position: relative;
  margin-bottom: 5px; 
  display: flex;
  flex-direction:column;
 }

 .form-label{
   position: absolute;
   top: 50%;
   left: 30px;
   transform: translateY(-50%);
   transition: 250ms linear;
   margin-top: 5px;
   font-weight: bold;
   font-size: 20px;
 }

 .form-field input{
   margin-left: 5px;
   margin-right: 5px;
   padding: 10px 20px;
   border-radius:  15px;
   border: 1px solid rgb(0, 0, 0);
   font-size: 15px;
 }

 .form-field label{
   margin-bottom: 5px;
 }

 
 .form-chek{
   color: white;
 }

 .form-input{
 margin-top: 10px;
 font: inherit;
 border: radius 4px;
 }
 
 .form-field-but{
  width: 140px;
  height: 60px;
  margin-left: 190px;
  margin-right: 20px;
  margin-top: 30px;
  position: relative;
  margin-bottom: 5px; 
  display: flex;
  flex-direction: column;
 }
 
 .form-field-text{
  border-radius: 10px;
   font-weight: bold;
   font-size: 30px;
 }

 .form-input:focus + .form-label,
 .form-input:not(:placeholder-shown) + .form-label
  {
   transform: translateY(-50px);
   color: rgb(255, 255, 255);
 }

 .icon{
   position: absolute;
   top: 30%;
   left: 10px;
   width: 20px;
   height: 20px;
   display: inline-block;
 }

 .form-input:focus ~ .icon {
   background-color: blue;
 }
 

 .is-hidden{
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
 }



 @media only screen and (max-width: 1300px) {
  body{
    margin-left: auto;
    margin-right: auto;
    width: 1300px; 
  }

  .upper_list{
    padding-left: 140px;
  }

  .basis{
    width: auto;
  }

  .area{
top: -105px;
left: 17px;
  }

  .formalities_photo{
    width: auto;
    margin-left: -160px;
  }


  .basis_size{
    margin-left: 45px;
  }


  .to_find_max{
    margin-top: 80px;
    margin-left: 15px;
    width: 600px;
  }

  .сonditions_cont{
    left: 700px;
    top: 2130px;

  }
.conditions_bos{
  left:850px;
}

.container_row{
 width: 400px;
 margin-left: -2%;
 
}
.row_min_send{
width: 250px;
margin-left: 30px;
padding-top: 5px;
}


.Photo_one{
  margin: 15px;
  width: 200px;
  height: 350px;
}

.Photo_one_size{
  width: 180px;
}

.basement-end{
  margin-left: 200px;
}

.end{
  margin-left: 480px;
}

.middle-end{
  margin-left: 800px;
}
 }



 @media only screen and (max-width: 1100px) {

  .basis_job{
    left: 42%;
  }

 }

 @media only screen and (max-width: 1000px) {

  .basis_job{
    left: 52%;
  }

}

@media only screen and (max-width: 850px) {

  .basis_job{
    left: 62%;
  }

}


@media only screen and (max-width: 700px) {

  .basis_job{
    left: 72%;
  }

}

@media only screen and (max-width: 600px) {

  .basis_job{
    left: 85%;
  }

}


@media only screen and (max-width: 500px) {

  .basis_job{
    left: 95%;
  }

}




 @media only screen and (max-width: 400px) {

  body{
    margin-left: auto;
    margin-right: auto;
    width: 399px; 
  }

  .upper{
    margin-bottom: 250px;
    width: 400px;
    height: 200px;
  }

  .head_house{
    margin-left: 300px;
    width: 300px;
    height: 300px;
    margin-top: -300px;
  }

  .logo_upper{
    width: 300px;
  }
  .upper_lists{
    font-size:30px ;
  }

  .upper_list{
   width: 200px;
   height: 90px;
    
  }

  .size_ph{
    width: 1250px;
    margin-left: 10px;
  }

.basis_job{
  top: 550px;
  left: 400px;
  margin-top: -55px;
}

.area{
  top: -370px ;
  left: 310px;
}

.basic-properties{
  margin-bottom: 450px;
}

.formalities_photo{
  width: 500px;
}


.main-properties-part{
  top:-340px;
}

.basis_men{
  width: 1050px;
  height: 800px;
  margin: 35px;
}

.basis_min_tu{
  width: 1000px;
  margin-left: 40px;
  text-align: center;
}

.basis_size{
  float: inherit;
  margin-bottom: 90px;
}


.basis_min_tfree{
  margin-left: 30%;
}

.basis_max_cont{
  font-size: 40px;
  padding-bottom: 20px;
}










.сonditions_cont{
  top:5000px;
}

.conditions_bos{
  top:5000px
}


 }
