


li {
    list-style-type: none; 
   }

/*header*/

header{
  flex-direction: column;
}


.upper{
    width: 1600px;
    height: 100px;
    margin-bottom: -9px; 

}@media only screen and (max-width: 1200px) {
  .upper{
    width: 1199px;
    height: 100px;
    flex-direction: column;
  } 
}


@media only screen and (max-width: 992px) {
  .upper{
    width: 900px;
    height: 100px;
  }  
}


@media only screen and (max-width: 768px) {
  .upper{
    width: 750px;
    height: 100px;
  }  
}

@media only screen and (max-width: 480px) {
  .upper{
    width: 470px;
    height: 100px;
  }  
}

@media only screen and (max-width: 320px) {
  .upper{
    width: 370px;
    height: 100px;
  }  
}



.upper_list_job{
  display: inline-block;
  padding-left: 20px;
  padding-top: 5px;
}

.a{
  margin-top: -60px;
  
}


.upper_list{
display: inline-block;
font-family: 'Roboto';
font-style: normal;
margin-left: 155px;
position: relative;
}  
 
.color-list{

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;

}


.upper_lists{
   
    color: rgb(0, 0, 0);
    text-decoration:none;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: left;
}

.upper_lists:hover{
  color: rgb(10, 156, 253);
}

.upper_list::after{
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  background-color: rgb(3, 0, 197);
  border-radius: 10px;
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
}

.upper_list:hover::after{
  transform: scaleX(1);
}








/*main*/
 .basis{
     background-color: rgba(255, 255, 255, 0.863);
     width:1600px; 
     height:600px; 
}

.size_ph{
  width:1600px; 
  height:600px;
}





 .basis_mein{
    position: absolute;
    color:rgba(17, 3, 3, 0.568);
    text-align: center;
    width: 996px;
    height: 150px;
    left: 270px;
    top: 200px;
    border-radius: 14px;
    background:linear-gradient(to right, rgba(206, 19, 122, 0.192), rgba(132, 107, 241, 0.226)) ;
    -webkit-box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
    -moz-box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
    box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
 }

 
.basis_main_size{
  font-size: 60px;
  color: rgb(255, 251, 251)
  
}

 .basis_job{
  position: absolute;
  width: 300px;
  height: 110px;
  left:650px;
  top: 550px;
  border-radius: 14px;
  background:linear-gradient(to right, rgba(206, 19, 122, 0.068), rgba(132, 107, 241, 0.226)) ;
  -webkit-box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
  -moz-box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
  box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
 }
 

.basis_job_col{
color: rgb(244, 244, 247);
font-size: 30px;
font-weight: bold;
text-align: center;
font-family: 'Roboto';
margin: 0px;

}

/* formalnosci*/

.formalities{
  margin-top: 100px;
  margin-left: 750px;
}

 .basic-properties{
   position: relative; 
 }

 .main-properties-part{
  position: absolute;
  width: 700px;
  height: 350px;
  top: -440px;
  left: 55px;
 }

 .main-properties-name{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 30px;

 }

.main-properties-middle{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 25px;
  font-size: 20px;
}

.beginning_cont{
  content: "";
  width:455px;
  height: 4px;
  background-color: rgb(71, 51, 255);
  margin-left: 55px;
  margin-top: 125px;
  margin-bottom: -55px;
}


/* podsumowanie*/



.basis_men{
  width: 1600px;
  height: 400px;
  background: rgba(245, 244, 250, 1);
  padding-top: 50px;
  margin-top: 100px;
  margin-bottom: 50px;
}

 .basis_min_tu{
  
  text-align: center;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 

.basis_min_tfree{
 display: inline-block;  
  margin-left: 45px;
  margin-right: 55px;
 }

 .basis_max_cont{
  display: inline-block; 
   margin-left: 100px;
   font-size: 45px;
   color: #507922;
   margin-left: 130px;
   margin-right: 200px;
   font-weight: bold;

 }

 .basis_mimmax_cont{
   width: 1600px;
   height: 100px;
   margin-left: 105px;
   
 }
 
 .basis_min_cont{
   display: inline-block;
   padding-left: 25px;
   padding-right: 55px;
   font-weight: bold;
 }
 .basis_min_big{
   font-size: 25px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   text-align: center;
 }

.basis_cont_max{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
/*pracownicy*/

.to_find{
  width: 1600px;
  height: 800px;
  background: rgba(245, 244, 250, 1); 
}

.to_find_bos{
  padding-top: 80px;
  text-align: center;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.to_find_max{
  padding-top: 25px;
  padding-left: 25px;
  
}

.conditions{
width: 700px;
height: 700px;
position: relative;
left: 500px;

}

.conditions_bos{
  position: absolute;
  top: 2370px;
  left: 1000px;
}


.сonditions_cont{
  content: "";
  width: 5px;
  height: 445px;
  background-color: rgb(71, 51, 255);
  margin-left: 865px;
  margin-top: -490px;
}

.conditions_min{
  width: 600px;
position: absolute;
display: inline-block;
top:-250px;
left: -45px;
font-size: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conditions_min_tu{
  width: 600px;
  position: absolute;
  display: inline-block;
  top: -100px;
  left: -45px;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conditions_min_free{
  width: 600px;
  position: absolute;
  display: inline-block;
  top: 45px;
  left: -45px;
  font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/*Robimy*/

.basis_container{
  width: 1600px;
  height: 900px;
  background: rgba(245, 244, 250, 1);
  margin-bottom: 55px;
}


.row_basis{
  padding-top: 80px;
  text-align: center;
  font-size: 65px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container_row{
  align-content: center;
   display: inline-block;
}


.row_link{
  display: inline-block;
  margin-left: 150px;
  margin-right: 180px;
  width: 150px;
  height: 150px;
  border-radius: 60%;
  background:linear-gradient(to right, rgb(206, 19, 122), rgb(132, 107, 241)) ;
}


.row_linkcol{
  width: 100px;
  height: 100px;
  margin-left: 24px;
  margin-top: 22px;
  fill: white;
  }
  
  .row_linkcol:hover{
    fill: rgb(7, 7, 7);
  }


.container_row_big{
  display: inline-block;
  margin-left: 180px;
  margin-right: 120px;
  font-size: 30px;
  
}

.container_row_min{
  display: inline-block;
  margin-left: 65px;
  margin-right: 55px;
}

.row_min_send{
  width: 300px;
  height: 80px;
 
  padding-top : 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5%;
  font-size: 20px;
  transition-duration: 1s;
  font-weight: bold;
}



.row_min_send:hover{
  background-color: white;
  transform: translateX(30px);
  background:linear-gradient(to right, rgb(206, 19, 122), rgb(132, 107, 241)) ;
  color: white;
  font-size: 20px;
  font-weight: bold;
}









 /*photo*/



 .command_text{
  padding-top: 30px;
  padding-bottom: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
 }




 /*command*/

.command_photo{
   width: 1520px;
   height: 800px;
   background: rgba(245, 244, 250, 1);
   padding-top: 5px;
   padding-left: 85px;
   margin-top: 80px;
}


 .Photo_one{
   width: 250px;
   height: 450px;
   display: inline-block;
   padding-top: 95px;
   padding: 25px;
   margin: 25px;
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
   box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
   box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

 }

 .photo_one_name{
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 19px;
 text-align: center;
 margin-left: -25px;
 }

 .photo_one_bos{
  font-family: 'Roboto';
  padding-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #757575;
  text-align: center;
  margin-left: -25px;
 }

 
.social_list{
display: flex;
}


.social-item{
width:30px;
height: 40px;
background-color: rgba(255, 254, 254, 0.356);
border-radius: 60%;
margin-top: 25px;
margin-left: -15px;
padding-right: 10px;
display: inline-block;
justify-content: center;
}

.social-item:hover{
  background:linear-gradient(to right, rgb(206, 19, 122), rgb(132, 107, 241)) ;
}

.sociak-link{
width:100%;
height:100%;
display: flex;

}

.social-item + .social-item{
  margin-left: 5px;
}

.social-aicon{
 fill: rgba(0, 0, 0, 0.63);
 margin-left: 5px;
 margin-top: 5px;
}

.social-aicon:hover{
  fill: white;
}






 /*footer*/

 .size-foot{
  width: 1604px;
  height: 290px;
  background: rgba(47, 48, 58, 1);
  margin-top: 75px;
  
 }
 .basement-hat{
  display: inline-block;
  padding-top: 10px;
}

 .sheet{
    display: inline-block;
    color: antiquewhite;
 }

.sheet_hat{
  padding-top: 5px;
  color: white;
  font-size: 20px;
  font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 text-decoration:none;
}


.basement-end{
  margin-top: -185px;
  margin-left: 290px;
}


.basement-end-hat{
  color: white;
  margin-left: 150px;
  font-size: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
}


.middle-end{
  
  margin-top: -59px;
  margin-left: 990px;
}


  .form-lab{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    transition: 250ms linear;
    margin-top: 7px;
    font-weight: bold;
    font-size: 20px;
  
}

.form-inp{
  width: 300px;
  height: 26px;
  margin-top: 10px;
  font: inherit;
  border: radius 5px;
  }

  .but_inp{
    width: 110px;
    height: 34px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    border-radius: 5px;

  }
  
.but_inp:hover{
  background:linear-gradient(to right, rgb(206, 19, 122), rgb(132, 107, 241)) ;
}

.end{
    content: "";
    width:205px;
    height:3px;
    background-color: rgb(246, 246, 248);
    margin-left: 575px;
    margin-top: 15px;
    margin-bottom: 15px;
}
 /*forma*/

 .backdrop{
   width: 100vw;
   height: 180vh;
   background-color: rgba(121, 121, 129, 0.788);
   position: fixed;
   top: 0;
   left: 0;
 }

.modal{
 width: 550px;
 min-height: 600px;
 background-color: rgba(147, 148, 170, 0.37);
 border-radius: 5px;
 box-shadow: 6px 5px 5px 6px rgb(255, 255, 255);
 box-shadow: 8px 5px 5px 8px rgb(250, 250, 250);
 box-shadow: -1px 5px 5px 11px rgb(252, 247, 247);
 position: absolute;
 top: 60%;
 left: 50%;
 transform: translate(-80%, -130%);

}

.modal-close{
  position: absolute;
  top: 10px;
  right: 10px;
 border-radius: 15px;
  width: 28px;
  height: 28px;
  background-color: white;
}


.close-icon{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
  fill: black;
}


 .form-field{
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  position: relative;
  margin-bottom: 5px; 
  display: flex;
  flex-direction:column;
 }

 .form-label{
   position: absolute;
   top: 50%;
   left: 30px;
   transform: translateY(-50%);
   transition: 250ms linear;
   margin-top: 5px;
   font-weight: bold;
   font-size: 20px;
 }

 .form-field input{
   margin-left: 5px;
   margin-right: 5px;
   padding: 10px 20px;
   border-radius:  15px;
   border: 1px solid rgb(0, 0, 0);
   font-size: 15px;
 }

 .form-field label{
   margin-bottom: 5px;
 }

 
 .form-chek{
   color: white;
 }

 .form-input{
 margin-top: 10px;
 font: inherit;
 border: radius 4px;
 }
 
 .form-field-but{
   width: 140px;
   height: 60px;
  margin-left: 190px;
  margin-right: 20px;
  margin-top: 30px;
  position: relative;
  margin-bottom: 5px; 
  display: flex;
  flex-direction: column;
 }
 
 .form-field-text{
  border-radius: 10px;
   font-weight: bold;
   font-size: 30px;
 }

 .form-input:focus + .form-label,
 .form-input:not(:placeholder-shown) + .form-label
  {
   transform: translateY(-50px);
   color: rgb(255, 255, 255);
 }

 .icon{
   position: absolute;
   top: 30%;
   left: 10px;
   width: 20px;
   height: 20px;
   display: inline-block;
 }

 .form-input:focus ~ .icon {
   background-color: blue;
 }
 

 .is-hidden{
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
 }



 /*media*/
 
 @media only screen and (max-width: 1200px) {
  

  .upper_list_job{
    margin-top: 50px;
  }


  .logo_upper{
    display: none;
  }

  .upper_list{
    margin-left: 75px;
    padding-right: 20px;
    padding-bottom: 5px;
    display: inline-block;
  }

  .size_ph{
    height: 350px;
    width: 1200px;
    margin-left: 5px;
  }


  .basis{
    width: 40%;
    height: 30%;
    margin:20px;
   
    
  } 

  
  .basis_mein{
    width: 700px;
    height: 100px;
    margin-left: auto;
    margin-top: -35px;
  }

  .basis_main_size{
  font-size: 45px;
  margin-top: 20px;
  }

 .basis_job{
  top:300px;
  left:460px;
 }

 .formalities{
 padding-top: 180px;

 }

 .formalities_photo{
   
   margin-left: -220px;
   margin-top: -90px;
 }

 .main-properties-name{
   font-size: 23px;
   padding-bottom: 5px;
 }
 
 .main-properties-middle{
   font-size: 19px;
   padding-bottom: 5px;
   padding-top: 5px;
 }

 .basis_men{
  width: 1190px;
  margin: 20px;
 }

 .basis_min_tu{
font-size: 40px;
text-align: center;
 }

 .basis_min_tfree{
   width: 95%;
   
 }

.basis_max_cont{
 margin: auto;
 padding-left: 60px;
 padding-right: 155px;
 font-size: 40px;
}

.basis_min_cont{
  margin-left: -40px;
  font-size: 20px;
  padding-right: 10px;

}

.to_find_max{
  margin-top: 50px;
  width: 40%;
}
.to_find{
  width: 1190px;
 height: 600px;
  margin-left: 20px;
}

.to_find_bos{
  font-size: 40px;
}

.сonditions_cont{
  display: none;
}

.conditions_bos{
  left: 700px;
  top: 2080px;
}

.conditions_min,.conditions_min_tu,.conditions_min_free{
  margin-top: -50px;
  font-size: 30px;
 display: inline-block;
}

.basis_container{
  width: 1199px;
  height: 700px;
  margin-left: 20px;
}

.row_basis{
  font-size: 45px;
}

.row_link{
  margin-left: 85px;
  width: 100px;
  height: 100px;
}

.row_linkcol{
  display: none;
}

.container_row_big{
font-size: 25px;
margin-left: 85px;
padding-right: 30px;
align-content: center;
}

.container_row{
  align-content: center;
}

.container_row_min{
margin-left: 15px;
margin-right: 10px;
}


.row_min_send{
  width: 270px;
  font-size: 20px;
}

.command_photo{
  width: 1120px;
  height: 700px;
  margin-left: 20px;
}

.command_text{
font-size: 50px;
}

.Photo_one{
width: 190px;
height: 260px;
margin-left: -5px;
}

.Photo_one_size{
  width: 200px;
  height: 200px;
}

.photo_one_name{
  font-size: 15px;
}

.photo_one_bos{
  font-size: 15px;
}

.social_list,.social-item{
  display: none;
}


.size-foot{
width: 1199px;
margin-left: 20px;
}


.basement-end{
margin-left: 150px;
}

.end{
  margin-left: 430px;
}
.middle-end{
margin-left: 700px;
}
 }




@media only screen and (max-width: 992px) {

  .upper_list{
    margin-left: 20px;
    padding-right: 35px;
  }

  .a{
   margin-left: 5px;
  }

  .upper_list::after{
    width: 90%;
  }

  .size_ph{
    width: 900px;
  }

.basis_mein{
  width: 500px;
  height: 140px;
  margin-left: -50px;
}

.basis_job{
  width: 200px;
  top: 320px;
  left: 380px;
}

.formalities_photo{
width: 400px;
}

.main-properties-name{
  font-size: 19px;
  margin-top: 70px;
}

.main-properties-middle{
  font-size: 15px;
}

.basis_men{
  width: 900px;
  height: 300px;
}

.basis_min_tu{
  font-size: 30px;
}

.basis_max_cont{
  font-size: 25px;
  font-weight: bold;
  margin-left: -25px;
}

.basis_min_big{
  font-size: 20px;
  margin-left: -80px;
  margin-right: 30px;
}


.basis_cont_max{
  font-size: 16px;
  margin-left: -40px;
  margin-right: 50px;
}

.to_find{
  width: 900px;
}

.to_find_bos{
  font-size: 30px;
}

.conditions_bos{
  left: 480px;
  top: 1830px;
}

.conditions_min,.conditions_min_tu,.conditions_min_free{
  font-size: 16px;
 font-weight: bold;
}


.basis_container{
  width: 900px;

}


.row_basis{
  font-size: 35px;
}

.row_link{
  width: 80px;
  height: 80px;
  margin-left: 45px;
  margin-right: 155px;
}

.container_row_big{

  font-size: 20px;
  margin-left: 48px;
  padding-right: 8px;
  align-content: center;

}

.container_row_min{
  margin-left: 0px;
  margin-right: 5px;
}

.row_min_send{
  width: 200px;
  font-size: 15px;
}

.command_photo{
  width: 815px;
  height: 700px;
  margin-left: 20px;
}

.command_text{
  font-size: 40px;
}
.Photo_one{
  width: 140px;
  height: 250px;
  margin-left: -45px;
 margin-right: 50px;
}

.Photo_one_size{
  width: 150px;
  height: 150px;
}

.size-foot{
  width: 900px;
}

.basement-end-hat{
margin-left: 0px;
}

.end{
  margin-left: 280px;
}


.middle-end{
  margin-left: 550px;
  margin-top: -75px;
}

}






@media only screen and (max-width: 768px) {
  
  .upper_list{
    margin-left: 30px;
    padding-right: 10px;
  
  } 

  .upper_lists{
    font-size: 21px;
  }

  .basis_mein{
    width: 500px;
    height: 100px;
    margin-left: -50px;
  }

  .basis_main_size{
  font-size: 35px;
  margin-top: 30px;
  }


  .basis_job{
    width: 180px;
    top: 290px;
    left: 380px;
  }

  .basis_job_col{
    font-size: 23px;
  }

}




@media only screen and (max-width: 480px) {
  .upper_list{
    margin-left: 30px;
   margin-right: 15px;
  }

  .upper_lists{
  font-size: 18px;
  }




}











@media only screen and (max-width: 320px) {
  .basis,.basis_job{
    width: 20%;
    height: 20%;
    margin:20px;
  }  
  .basis_mein{
    height: 50px;
    width: 100px;
    margin-left: -90px;
  }
}



