

/*header*/
.upper{
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
}



.upper_list{
    color: black;
    display: inline-block;
    width: 250px;
    height: 41px;
    left: 215px;
    top: 24px; 
    font-family: 'Roboto';
    font-style: normal;
    margin-left: 155px;
    
    }  

    .upper_lists{
        left: 453px;
        top: 32px;
        color: rgb(15, 1, 1);
        text-decoration:none;
    }

    .upper_lists:hover{
        color: rgb(25, 124, 182);
     }
     

     .big_info_one,.big_info_two,.big_info_three {
       margin: 50px;
       display: inline-block;
     }
     
     


     .info_square_one{
        display: inline-block;
        margin-right: 50px;
     }

     .info_square_two{
        display: inline-block;
        margin-right: 50px;
     }

     .info_square_three{
      margin-right: 50px;
       display: inline-block;
     }

     .info_square_four{
       display: inline-block;
       margin-right: 50px;
     }
     
     .info_square_five{
       display: inline-block;
       margin-right: 50px;
     }

     .info_square_six{
       border-radius: 20px;
       display: inline-block;
     }

     .info_square_seven{
       display: inline-block;
       margin-right: 50px;
     }

     .info_square_eight{
       display: inline-block;
       margin-right: 50px;
     }

     .info_square_nine{
      margin-right: 50px;
      display: inline-block;  
   }

     
 .sheet{
   display: inline-block;
  margin-left: 100px;
  margin-right: 55px;
}

.down_part{


}

.masters-top-text{
 position: absolute;
 height: 100%;
 top: -40px;
 left: 0;
 font-size: 18px;
 line-height: 1.5;
 padding: 40px 30px;
 color:white;
 background-color: rgba(15, 48, 110, 0.897);
 transform: translateY(100%);
 transition: transform 300ms;
 overflow: scroll;
 text-align: center;
}

.masters-item-wrap{
position: relative;
overflow: hidden;
}

.info_square_one:hover .masters-top-text{
   transform: translateY(0);
}

.item-photo{
 
}

.inscription-above{
 padding-top: 20px;
 text-align: center;
 background-color: rgb(233, 214, 214);
 width: 400px;
 height: 50px;
 border-radius: 15px;
}

.sheet{
  display: inline-block;
  color: antiquewhite;
}

textarea {
 resize: none;
}

.size-foot{
width: 1600px;
height: 200px;
background: rgba(47, 48, 58, 1);

}

.basement-hat{
display: inline-block;
}


.basement-end{
display: inline-block;
}

.middle-end{
display: inline-block;
}