


li {
    list-style-type: none; 
   }

/*header*/
.upper{
    width: 1600px;
    height: 100px;
    background-color: rgba(11, 30, 94, 0.082);
    margin-bottom: -9px; 
}

.upper_list_job{
  display: inline-block;
}

.a{
  margin-top: -60px;
  
}


.upper_list{
display: inline-block;
font-family: 'Roboto';
font-style: normal;
margin-left: 155px;
position: relative;
}  
 
.color-list{

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;

}


.upper_lists{
   
    color: rgb(0, 0, 0);
    text-decoration:none;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-align: left;
}

.upper_lists:hover{
   color: rgb(75, 75, 75);
}

.upper_list::after{
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  background-color: rgb(3, 0, 197);
  border-radius: 10px;
  position: absolute;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scaleX(0);
}

.upper_list:hover::after{
  transform: scaleX(1);
}



/*main*/
 .basis{
     background-color: rgba(84, 83, 95, 0.863);
     width: 1600px;
     height: 600px;
}
 .basis_mein{
    position: absolute;
    color:rgba(17, 3, 3, 0.568);
    text-align: center;
    width: 696px;
    height: 120px;
    left: 450px;
    top: 195px;
    border-radius: 14px;
  background-color: rgba(49, 4, 248, 0.185);
  -webkit-box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
  -moz-box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
  box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
 }
.basis_main_size{
  font-size: 50px;
  color: rgb(255, 251, 251);
  
}

 .basis_job{
  position: absolute;
  width: 300px;
  height: 110px;
  left:650px;
  top: 550px;
  border-radius: 14px;
  background-color: rgba(49, 4, 248, 0.185);
  -webkit-box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
  -moz-box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
  box-shadow: 22px 11px 19px 6px rgba(8, 20, 30, 0.52);
 }

.basis_job_col{
color: rgb(244, 244, 247);
font-size: 30px;
font-weight: bold;
text-align: center;
font-family: 'Roboto';
margin: 0px;

}

.basis_one{
  position: relative;
  width: 1600px;
  height: 80px;
}

 .basis_big{
   position: absolute;
   display: inline-block;
   margin-left: 15px;
 }
 .basis_big_q{
  position: absolute;
  left: 500px;
  margin-left: 15px;
 }

 .basis_big_w{
  position: absolute;
  left: 1055px;
  margin-left: 15px;
 }
 
 .basis_big_one{
   font-size: 17px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.03em;
   text-align: left;
   font-weight: bolder;
 }

.basis_big_free{
  color: black;
  font-size: 20px;
  font-weight: bolder;
}

 

.basis_men{
  width: 1600px;
  height: 500px;
  background-color: rgba(73, 71, 66, 0.13);
  padding-top: 50px;
  margin-top: 150px;
  margin-bottom: 50px;
}

 .basis_min_tu{
  text-align: center;
  font-size: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 

.basis_min_tfree{
 display: inline-block;  
  margin-left: 45px;
  margin-right: 55px;
 }

 .basis_max_cont{
   margin-left: 100px;
   font-size: 45px;
   color: #507922;
 }
 
 .basis_max_big{
   font-size: 30px;
   margin-left: 35px;
   margin-right: 65px;
 }

.basis_max_min{
font-size: 22px;
color: #757575;
margin-left: 25px;
margin-right: 35px;

}

/*Robimy*/

.basis_container{
  width: 1600px;
  height: 800px;
  background-color: rgba(73, 71, 66, 0.13);
}


.row_basis{
  padding-top: 100px;
  text-align: center;
  font-size: 45px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container_row{
  align-content: center;
  margin-left: 40px;
  display: inline-block;
}
.row_link{
  display: inline-block;
  margin-left: 200px;
  margin-right: 180px;
  width: 100px;
  height: 100px;
  border-radius: 60%;
  background-color: white;
}

.row_link:hover{
  background-color: rgb(255, 127, 223);
  
}

.row_linkcol{
  width: 100px;
  height: 100px;
  margin-left: 18px;
  margin-top: 15px;
  
  }
  
  .row_linkcol:hover{
    fill: white;
  }


.container_row_big{
  display: inline-block;
  margin-left: 200px;
  margin-right: 120px;
  font-size: 30px;
  
}

.container_row_min{
  display: inline-block;
  margin-left: 55px;
  margin-right: 55px;
}

.row_min_send{
  width: 300px;
  height: 60px;
  text-align: center;
  padding-top : 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5%;
  font-size: 20px;
  transition-duration: 1s;
}


.row_min_send:hover{
  background-color: white;
  transform: translateX(30px);
  
}









 /*photo*/



 .command_text{
  padding-top: 30px;
  padding-bottom: 50px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
 }




 /*command*/

.command_photo{
   width: 1500px;
   height: 800px;
   background: rgba(245, 244, 250, 1);
   padding-top: 55px;
   padding-left: 85px;
  

}
 .Photo_one{
   width: 250px;
   height: 450px;
   display: inline-block;
   padding-top: 95px;
   padding: 25px;
   margin: 25px;
   background-color: rgb(255, 255, 255);
   border-radius: 5px;
   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
   box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
   box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

 }

 .photo_one_name{
font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 19px;
 }

 .photo_one_bos{
  font-family: 'Roboto';
  padding-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
  color: #757575;
 }

 
.social_list{
display: flex;
}


.social-item{
width:30px;
height: 40px;
background-color: rgb(255, 254, 254);
border-radius: 60%;
margin-top: 25px;
margin-left: -15px;
padding-right: 10px;
display: inline-block;
justify-content: center;
}

.social-item:hover{
  background: rgba(33, 150, 243, 1);

}

.sociak-link{
width:100%;
height:100%;
display: flex;

}

.social-item + .social-item{
  margin-left: 5px;
}

.social-aicon{
 fill: rgba(175, 177, 184, 1);
 margin-left: 5px;
 margin-top: 5px;
}







 /*footer*/

 .size-foot{
  width: 1585px;
  height: 300px;
  background: rgba(47, 48, 58, 1);
  
 }
 .basement-hat{
  display: inline-block;
  padding-top: 10px;
}

 .sheet{
    display: inline-block;
    color: antiquewhite;
 }

.sheet_hat{
  padding-top: 5px;
  color: white;
  font-size: 25px;
  font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 text-decoration:none;
}


.basement-end{
  margin-top: -205px;
  margin-left: 250px;
}


.basement-end-hat{
  color: white;
  margin-left: 150px;
  font-size: 35px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
}


.middle-end{
  
  margin-top: -59px;
  margin-left: 990px;
}


 /*forma*/

 .backdrop{
   width: 100vw;
   height: 180vh;
   background-color: rgba(121, 121, 129, 0.541);
   position: fixed;
   top: 0;
   left: 0;
 }

.modal{
 width: 450px;
 min-height: 500px;
 background-color: rgb(255, 255, 255);
 border-radius: 5px;
 position: absolute;
 top: 50%;
 left:50%;
 transform: translate(-80%, -130%);

}

.modal-close{
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50px;
  width: 28px;
  height: 28px;
  background-color: rgba(89, 85, 92, 0.281);
}


.close-icon{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 2px;
  right: 2px;
}


 .form-field{
   margin-left: 40px;
   margin-right: 40px;
  margin-top: 30px;
  position: relative;
  margin-bottom: 5px; 
  display: flex;
  flex-direction: column;
 }

 .form-label{
   position: absolute;
   top: 50%;
   left: 30px;
   transform: translateY(-50%);
   transition: 250ms linear;
 }

 .form-field input{
   margin-left: 5px;
   margin-right: 5px;
   padding: 10px 20px;
   border-radius:  15px;
   border: 1px solid rgb(0, 0, 0);
   font-size: 15px;
 }

 .form-field label{
   margin-bottom: 5px;
 }

 .form-field input::placeholder{
   color: rgb(31, 20, 180);
 }

 .form-input{
margin: 0;
font: inherit;
border-radius:  3px;

 }
 
 

 .form-input:focus + .form-label,
 .form-input:not(:placeholder-shown) + .form-label
  {
   transform: translateY(-50px);
   color: rgb(9, 13, 231);
 }

 .icon{
   position: absolute;
   top: 30%;
   left: 10px;
   width: 20px;
   height: 20px;
   display: inline-block;
   background-color: blueviolet;
 }

 .form-input:focus ~ .icon {
   background-color: blue;
 }
 

 .is-hidden{
   visibility: hidden;
   opacity: 0;
   pointer-events: none;
 }
 
 